* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: aquamarine;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
}

nav a.active {
    color:blueviolet
}